@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.menu {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    &-item {
      display: inline-block;
      margin: 10px 0;
      padding: 0 0.9rem;
      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: 400;
        border: 0;
        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }
        &--active {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }
      }
    }
  }
}
