@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.links {
  display: inline-block;
  margin: 0 auto;
  @include margin-bottom(1);
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px -3px;
    &-item {
      padding: 0;
      margin: 0 5px;
      line-height: 24px;
      border-radius: 2.5rem;
      text-align: center;
      & a {
        border: 0;
        & svg {
          font-size: 2rem;
          color: lighten($color-base, 20%);
        }
        &:hover,
        &:focus {
          & svg {
            color: $color-primary;
          }
        }
      }
    }
  }
  @include breakpoint-sm {
    display: block;
  }
}
