@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.form__contact {
  input,
  textarea {
    display: block;
  }
  textarea,
  input {
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 30px 10px rgba(94, 94, 94, 0.1);
    box-sizing: border-box;
    height: 50px;
    margin-top: 1.5rem;
    outline: none;
    padding: 1.5rem 1rem;
    width: 100%;
    -webkit-appearance: none;
  }
  textarea {
    height: 150px;
    resize: none;
  }
  button {
    background: $primary-gradient;
    color: #ffdcd6;
    border-radius: 15px;
    border: 1px solid transparent;
    height: 40px;
    margin-top: 1.5rem;
    outline: none;
    width: 110px;
    &:hover,
    &:focus {
      cursor: pointer;
      background: $color-secondary;
      color: #ffdcd6;
    }
  }
  .errors {
    color: #FF6448;
    display: block;
    padding-top: 5px;
  }
  #messages {
    margin-left: 1rem;
    font-style: italic;
  }
  input[type=text]:focus, 
  input[type=email]:focus, 
  textarea:focus,
  button:focus {
    border: 1px solid rgba(255, 120, 16, 0.3);
    box-shadow: 0 0 30px 5px rgba(255, 120, 16, 0.3);
    -webkit-appearance: none;
  }
}