@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.card {
  border-radius: 10px;
  transition: .3s ease;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.3);
  }
  &:hover &__title-custom {
    text-decoration: underline;
  }
  @include card();
  @include margin-bottom(1.25);
  &:last-child {
    @include margin-bottom(.5);
  }
  &__button {
    background: $color-primary;
    background: $primary-gradient;
    color: #ffdcd6;
    border-radius: 3px;
    display: block;
    max-width: 70px;
    padding: 0.2rem;
    bottom: 1rem;
    right: 1rem;
    text-align: center;
    &:hover,
    &:focus {
      background: $color-secondary;
      color: #ffdcd6;
    }
  }
  &__title {
    font-size: $typographic-base-font-size * 1.6875;
    &-custom {
      .item-single__tags {
        padding: 0;
        display: inline-block;
        ul li {
          margin-top: 0;
        }
        @include breakpoint-md {
          margin-left: 15px;
        }
      }
      @include margin-top(0);
      @include margin-bottom(0);
    }
    @include line-height(1.5);
    @include margin-top(0);
    @include margin-bottom(.5);
    &-link {
      color: $color-base;
      &:hover,
      &:focus {
        color: $color-base;
      }
    }
  }
  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin(0, 0, 1);
  }
  &__description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
  }
  &__bottomContainer {
    background: hsl(0, 0%, 97%);
    padding: 1rem 2rem 1rem 2rem;
  }
  &__topContainer {
    padding: 1rem 2rem 0 2rem;
  }
  &__meta {
    @include margin-bottom(.75);
    &-time {
      font-size: $typographic-small-font-size;
      color: $color-base;
      font-weight: 500;
      text-transform: uppercase;
    }
    &-divider {
      margin: 0 10px;
    }
    &-category {
      &-link {
        font-size: $typographic-small-font-size;
        color: $color-secondary;
        font-weight: 500;
        text-transform: uppercase;
        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }
  }
  &__readmore {
    font-size: $typographic-base-font-size;
    color: $color-primary;
    @include margin-bottom(1);
    &:hover,
    &:focus {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
    }
  }
}